<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">
        <style>
            :root {
                --logoBlue: #002a5c;
                --logoPink: #de9896;
                font-size: 1vmin;
            }

            #analyze-table-outerDiv {
                width: 100%;
                height: 30%;
                background-color: var(--logoPink);
                border-radius: 2vmin;
                padding: 0% 1vmin;
                box-sizing: border-box;
            }

            #analyze-table-div {
                width: 100%;
                height: 94%;
                position: relative;
                top: 1%;
            }

            #analyze-table {
                height: 100%;
                width: 100%;
                text-align: center;
                border-collapse: collapse;
                /* border-spacing: 1vmin; */
                border: 0;
                /* border-radius: 2vmin; */
                box-sizing: content-box;
            }

            #analyze-th-tr {
                position: sticky;
                top: 0;
                left: 0;
                height: 5vh;
            }

            .analyze-th {
                background-color: var(--logoPink);
                color:#ffffff;
                height: 5vh;
                border-bottom-style: solid;
                border-bottom-color: var(--logoPink);
                border-bottom-width: 0.5vmin;
            }

            .analyze-tr {

            }

            .analyze-td {
                background-color: #ffffff;
                color: var(--logoPink);
                width: fit-content;
                height: 5vh;
            }

            .analyze-bottom-tr {
                border-bottom-style: solid;
                border-bottom-width: 0.5vmin;
                border-bottom-color: var(--logoPink);
            }

            #game-table-outerDiv {
                width: 100%;
                height: 60%;
                background-color: var(--logoPink);
                border-radius: 2vmin;
                padding: 0% 1vmin;
                position: absolute;
                bottom: 0%;
                box-sizing: border-box;
                transition: 1s;
            }

            #game-table-outerDiv:hover {
                height: 100%;
                transition: 1s;
            }

            #game-table-div {
                width: 100%;
                height: 96%;
                overflow: auto;
                position: relative;
                top: 1%;
            }

            #game-table-div::-webkit-scrollbar {
                display: none;
            }

            #game-table {
                height: 100%;
                width: 100%;
                text-align: center;
                border-collapse: collapse;
                /* border-spacing: 1vmin; */
                border: 0;
                /* border-radius: 2vmin; */
                box-sizing: content-box;
            }

            #game-th-tr {
                position: sticky;
                top: 0;
                left: 0;
                height: 5vh;
            }

            .game-th {
                background-color: var(--logoPink);
                color:#ffffff;
                height: 5vh;
                border-bottom-style: solid;
                border-bottom-color: var(--logoPink);
                border-bottom-width: 0.5vmin;
            }

            .game-tr {
                
            }

            .game-td {
                background-color: #ffffff;
                color: var(--logoPink);
                width: fit-content;
                height: 5vh;
            }

            .game-bottom-tr {
                border-bottom-style: solid;
                border-bottom-width: 0.5vmin;
                border-bottom-color: var(--logoPink);
            }

            .game-comment-dialog{
                width: 50%;
                height: 50%;
                border-radius: 5vmin;
                background-color: #ffffff;
                padding: 0;
                color: var(--logoPink);
            }

            #game-full-screen-div {
                width: 5%;
                aspect-ratio: 1 / 1;
                background-color: var(--logoPink);
                border-radius: 2vmin;
                position: absolute;
                right: 0%;
                bottom: 0%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
            }

            #c-d-title-div {
                width: 100%;
                height: 10%;
                background-color: var(--logoPink);
                color: #ffffff;
            }

            #c-d-gameNum-div {
                width: 20%;
                height: 100%;
                float: left;
                display: flex;
                justify-content: end;
                align-items: center;
            }

            #c-d-close-div {
                width: 20%;
                height: 100%;
                float: right;
                display: flex;
                justify-content: start;
                align-items: center;
            }

        </style>
    </head>

    <body>  
        <div id="analyze-table-outerDiv">
            <div id="analyze-table-div">
                <table id="analyze-table">
                    <tr class="analyze-th-tr">
                        <th class="analyze-th">mode</th>
                        <th class="analyze-th">top(%)</th>
                        <th class="analyze-th">middle(%)</th>
                        <th class="analyze-th">bottom(%)</th>
                        <th class="analyze-th">dock(%)</th>
                        <th class="analyze-th">engage(%)</th>
                        <th class="analyze-th">mobility(%)</th>
                        <th class="analyze-th">平均分(分)</th>
                        <th class="analyze-th">link(條)</th>
                        <th class="analyze-th">犯規(分)</th>
                        <th class="analyze-th">贏(%)</th>
                        <th class="analyze-th">輸(%)</th>
                        <th class="analyze-th">平手(%)</th>
                        <th class="analyze-th">功(%)</th>
                        <th class="analyze-th">守(%)</th>
                        <th class="analyze-th">攻兼守(%)</th>
                        <th class="analyze-th">平均RP</th>
                        <th class="analyze-th">總RP</th>
                    </tr>
                    
                        <% const times = analyzeData.times %>
        
                        <% const getRate = (num) => { %>
                            <% if (num == 0) { %>
                                <% return 0; %>
                            <% } %>
        
                            <% return Math.round( ( (num * 100) + Number.EPSILON) * 100 ) / 100; %>
                        <% }; %>
        
                        <% const getAverage = (num) => { %>
                            <% if (num == 0) { %>
                                <% return 0; %>
                            <% } %>
        
                            <% return Math.round( (num + Number.EPSILON) * 100 ) / 100; %>
                        <% }; %>
        
                        <% let cargoTotalA = analyzeData.topA + analyzeData.middleA + analyzeData.bottomA; %>
        
                        <% if(cargoTotalA == 0) { %>
                            <% cargoTotalA = 1; %>
                        <% } %>
        
                        <% let cargoTotalT = analyzeData.topT + analyzeData.middleT + analyzeData.bottomT; %>
        
                        <% if(cargoTotalT == 0) { %>
                            <% cargoTotalT = 1; %>
                        <% } %>
        
                        <tr>
                            <td class="analyze-td">auto</td>
                            <td class="analyze-td"><%= getRate(analyzeData.topA / cargoTotalA) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.middleA / cargoTotalA) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.bottomA / cargoTotalA) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.dockA / analyzeData.times) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.engageA / analyzeData.times) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.mobilityA / analyzeData.times) %></td>
                            <td class="analyze-td"><%= getAverage(analyzeData.pointA / analyzeData.times) %></td>
                            <td rowspan="2" class="analyze-td"><%= getRate(analyzeData.link / analyzeData.times) %></td>
                            <td rowspan="2" class="analyze-td"><%= getRate(analyzeData.foul / analyzeData.times) %></td>
                            <td rowspan="2" class="analyze-td"><%= getRate(analyzeData.win / analyzeData.times) %></td>
                            <td rowspan="2" class="analyze-td"><%= getRate(analyzeData.lose / analyzeData.times) %></td>
                            <td rowspan="2" class="analyze-td"><%= getRate( (analyzeData.times - analyzeData.win - analyzeData.lose) / analyzeData.times ) %></td>
                            <td rowspan="2" class="analyze-td"><%= getRate(analyzeData.offensive / analyzeData.times) %></td>
                            <td rowspan="2" class="analyze-td"><%= getRate(analyzeData.defensive / analyzeData.times) %></td>
                            <td rowspan="2" class="analyze-td"><%= getRate( (analyzeData.times - analyzeData.offensive - analyzeData.defensive ) / analyzeData.times) %></td>
                            <td rowspan="2" class="analyze-td"><%= getAverage(analyzeData.rp / analyzeData.times) %></td>
                            <td rowspan="2" class="analyze-td"><%= analyzeData.rp %></td>
                        </tr>
                        <tr class="analyze-bottom-tr">
                            <td class="analyze-td">tele</td>
                            <td class="analyze-td"><%= getRate(analyzeData.topT / cargoTotalT) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.middleT / cargoTotalT) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.bottomT / cargoTotalT) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.dockT / analyzeData.times) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.engageT / analyzeData.times) %></td>
                            <td class="analyze-td"><%= getRate(analyzeData.parkT / analyzeData.times) %></td>
                            <td class="analyze-td"><%= getAverage(analyzeData.pointT / analyzeData.times) %></td>
                        </tr> 
                </table>
            </div>
        </div> 
            

        <div id="game-table-outerDiv">
            <div id="game-table-div">
                <table id="game-table">
                    <tr id="game-th-tr">
                        <th class="game-th">場次</th>
                        <th class="game-th">mode</th>
                        <th class="game-th">cargo</th>
                        <th class="game-th">dock</th>
                        <th class="game-th">engage</th>
                        <th class="game-th">mobility</th>
                        <th class="game-th">得分</th>
                        <th class="game-th">link</th>
                        <th class="game-th">犯規</th>
                        <th class="game-th">勝負</th>
                        <th class="game-th">RP</th>
                        <th class="game-th">角色</th>
                        <th class="game-th">概述</th>
                    </tr>

                    <% gameData.forEach( document => {  %>
                        <tr>
                            <td rowspan="2" class="game-td"><%= document.gameNumber %></td>
                            <td class="game-td">auto</td>
                            <td class="game-td"><%= document.cargoA.length %></td>
                            <td class="game-td">
                                <% if(document.moveA === 1 || document.moveA === 3) { %>
                                √
                                <% } %>
                            </td>
                            <td class="game-td">
                                <% if(document.moveA === 3) { %>
                                √
                                <% } %>
                            </td>
                            <td class="game-td">
                                <% if(document.moveA === 2) { %>
                                √
                                <% } %>
                            </td>
                            <td class="game-td">
                                <% let pointA = 0; %>
                                <% document.cargoA.forEach( place => { %>
                                    <% if( place < 20) { %>
                                        <% pointA += 6; %>
                                    <% } else if( place < 30 ) { %>
                                        <% pointA += 4; %>
                                    <% } else { %>
                                        <% pointA += 3; %>
                                    <% } %> 
                                <% }) %>

                                <% if(document.moveA === 1) { %>
                                    <% pointA += 8; %>
                                <% } else if(document.moveA === 2) { %>
                                    <% pointA += 3; %>
                                <% } else if(document.moveA === 3) { %>
                                    <% pointA += 12; %>
                                <% } %> 

                                <%= pointA %>
                            </td>
                            <td rowspan="2" class="game-td"><%= document.link %></td>
                            <td rowspan="2" class="game-td"><%= document.foul %></td>
                            <td rowspan="2" class="game-td">
                                <% if( document.result === 1 ) { %>
                                    勝
                                <% } else if( document.result === 2 ) { %>
                                    負
                                <% } else if( document.result === 3 ) { %>
                                    平局
                                <% } %>
                            </td>
                            <td rowspan="2" class="game-td"><%= document.rp %></td>
                            <td rowspan="2" class="game-td">
                                <% if( document.character === 1 ) { %>
                                    功
                                <% } else if( document.character === 2 ) { %>
                                    守
                                <% } else if( document.character === 3 ) { %>
                                    皆有
                                <% } %>
                            </td>
                            <dialog class="game-comment-dialog" id="game-comment-dialog<%= document.gameNumber %>">
                                <div id="c-d-title-div">
                                    <div id="c-d-gameNum-div">
                                        <span>場次 <%= document.gameNumber %></span>
                                    </div>
                                    <div id="c-d-close-div">
                                        <i class="fa-solid  fa-xmark ft-lg" onclick="hideComment('<%= document.gameNumber %>')"></i>
                                    </div>
                                </div>
                                
                                
                                <div id="c-d-content-div">
                                    <p><%= document.comment %></p>
                                </div>
                            </dialog>
                            <td rowspan="2" id="game-comment-td<%= document.gameNumber %>" class="game-td" onclick="showComment('<%= document.gameNumber %>')">
                                <%= document.comment.slice(0, 10) %>
                            </td>

                            
                        </tr>
                        <tr class="bottom-tr">
                            <td class="game-td">tele</td>
                            <td class="game-td"><%= document.cargoT.length %></td>
                            <td class="game-td">
                                <% if(document.moveT === 1 || document.moveT === 3) { %>
                                √
                                <% } %>
                            </td>
                            <td class="game-td">
                                <% if(document.moveT === 3) { %>
                                √
                                <% } %>
                            </td>
                            <td class="game-td">
                                <% if(document.moveT === 2) { %>
                                √
                                <% } %>
                            </td>
                            <td class="game-td">
                                <% let pointT = 0; %>
                                <% document.cargoT.forEach( place => { %>
                                    <% if( place < 20) { %>
                                        <% pointT += 5; %>
                                    <% } else if( place < 30 ) { %>
                                        <% pointT += 3; %>
                                    <% } else { %>
                                        <% pointT += 2; %>
                                    <% } %> 
                                <% }) %>

                                <% if(document.moveT === 1) { %>
                                    <% pointT += 6; %>
                                <% } else if(document.moveT === 2) { %>
                                    <% pointT += 2; %>
                                <% } else if(document.moveT === 3) { %>
                                    <% pointT += 10; %>
                                <% } %> 

                                <%= pointT %>
                            </td>
                        </tr> 
                    <% }) %>
                </table>
            </div>
            <div id="game-full-screen-div" onclick="enterFullScreen('game')"><i id="game-full-screen-i" class="fa-solid fa-expand ft-lg"></i></div>
        </div> 


        <script src="https://kit.fontawesome.com/3034cde1c1.js" crossorigin="anonymous"></script>
        <script>
            const showComment = (gameNum) => {
                document.getElementById('game-comment-dialog' + gameNum).showModal();
            };
            const hideComment = (gameNum) => {
                document.getElementById('game-comment-dialog' + gameNum).close();
            };

            const enterFullScreen = (table) => {
                const div = document.getElementById(table + '-table-outerDiv');
                const i = document.getElementById(table + '-full-screen-i');

                i.classList.toggle('fa-expand');
                i.classList.toggle('fa-compress');
                div.webkitRequestFullscreen();
                div.onclick = () => { exitFullScreen(); }
            };
            const exitFullScreen = () => {
                document.webkitExitFullscreen();
            };
        </script>
    </body>
</html>