<!DOCTYPE html>
<html>
    <head>
        <style>
            #h1-div {
                width: 7%;
                height: 5%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 3%;
                left: 5%;
                background-color: var(--fontColor);
                color: var(--mainColor);
                font-size: calc(var(--pageFontSize) * 1.3);
                box-shadow: #b6b6b6 5px 5px 20px;
            }

            #pie-chart-area {
                width: 90%;
                height: 40%;
                position: absolute;
                top: 12%;
                left: 5%;
                box-shadow: #b6b6b6 0 0 20px;
            }

            .pie-chart-div {
                width: 23%;
                height: 40%;
                overflow: hidden;
                position: absolute;
            }

            #piecesA-pie-chart-div {
                top: 5%;
                left: 3.6%;
            }

            #piecesT-pie-chart-div {
                top: 55%;
                left: 5.6%;
            }

            #mobilityA-pie-chart-div {
                top: 5%;
                left: 27.2%;
            }

            #moveT-pie-chart-div {
                top: 55%;
                left: 29.2%;
            }

            #engageA-pie-chart-div {
                top: 5%;
                left: 50.8%;
            }

            #engageT-pie-chart-div {
                top: 55%;
                left: 52.8%;
            }

            #result-pie-chart-div {
                top: 5%;
                left: 74.4%;
            }

            #strategy-pie-chart-div {
                top: 55%;
                left: 76.4%;
            }

            .pie-chart {
                width: 26%;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                position: absolute;
                top: 7%;
                left: 0;
                z-index: 1;
            }

            .pie-chart::before {
                --chartDeg1: 0%;
                content: "";
                width: 120%;
                height: 120%;
                position: relative;
                display: block;
                border-radius: 50%;
                stroke-dasharray: 50%;
                /* z-index: -1; */
                /* animation: pie-chart-show 100s linear forwards; */
            }

            <% const times = analyzeData.times %>

            <% const getRate = (num) => { %>
                <% if (num == 0) { %>
                    <% return 0; %>
                <% } %>
            
                <% return Math.round( ( (num * 100) + Number.EPSILON) * 100 ) / 100; %>
            <% }; %>

            <% let cargoTotalA = analyzeData.topA + analyzeData.middleA + analyzeData.bottomA; %>

            #piecesA-pie-chart::before {
                animation: piecesA-pie-chart-show 2s linear forwards;
                <% if(cargoTotalA === 0) { %>
                    background: conic-gradient(var(--chartColorNone) 0% 100%);
                <% } else { %>
                    background: conic-gradient(var(--chartColor1) <%= getRate(analyzeData.topA / cargoTotalA) %>%, var(--chartColor2) <%= getRate(analyzeData.topA / cargoTotalA ) %>% <%= getRate( (analyzeData.topA + analyzeData.middleA) / cargoTotalA ) %>%, var(--chartColor3) <%= getRate( (analyzeData.topA + analyzeData.middleA) / cargoTotalA ) %>%);
                <% } %>
            }

            <% let cargoTotalT = analyzeData.topT + analyzeData.middleT + analyzeData.bottomT; %>

            #piecesT-pie-chart::before {
                <% if(cargoTotalT === 0) { %>
                    background: conic-gradient(var(--chartColorNone) 0% 100%);
                <% } else { %>
                    background: conic-gradient(var(--chartColor1) <%= getRate(analyzeData.topT / cargoTotalT) %>%, var(--chartColor2) <%= getRate(analyzeData.topT / cargoTotalT ) %>% <%= getRate( (analyzeData.topT + analyzeData.middleT) / cargoTotalT ) %>%, var(--chartColor3) <%= getRate( (analyzeData.topT + analyzeData.middleT) / cargoTotalT ) %>%);
                <% } %>
            }

            #mobilityA-pie-chart::before {
                background: conic-gradient(var(--chartColor2) <%= getRate(analyzeData.mobilityA / times) %>%, var(--chartColorNone) <%= getRate(analyzeData.mobilityA / times) %>%);
            }

            #moveT-pie-chart::before {
                background: conic-gradient(var(--chartColor1) <%= getRate(analyzeData.dockT / times) %>%, var(--chartColor2) <%= getRate(analyzeData.dockT / times ) %>% <%= getRate( (analyzeData.dockT + analyzeData.parkT) / times ) %>%, var(--chartColorNone) <%= getRate( (analyzeData.dockT + analyzeData.parkT) / times ) %>%);
            }

            #engageA-pie-chart::before {
                background: conic-gradient(var(--chartColor1) <%= getRate( (analyzeData.dockA - analyzeData.engageA) / times) %>%, var(--chartColor3) <%= getRate( (analyzeData.dockA - analyzeData.engageA) / times) %>%, var(--chartColor3) <%= getRate( analyzeData.engageA / times) %>%, var(--chartColorNone) <%= getRate( analyzeData.engageA / times) %>%);
            }

            #engageT-pie-chart::before {
                <% if(analyzeData.dockT === 0) { %>
                    background: conic-gradient(transparent 0% 100%);
                <% } else { %>
                    background: conic-gradient(var(--chartColor1) <%= getRate(analyzeData.engageT / analyzeData.dockT) %>%, var(--chartColorNone) <%= getRate(analyzeData.engageT / analyzeData.dockT) %>%);
                <% } %>
            }

            #result-pie-chart::before {
                background: conic-gradient(var(--chartColor1) <%= getRate(analyzeData.win / times) %>%, var(--chartColor2) <%= getRate(analyzeData.win / times) %>% <%= getRate( (analyzeData.win + analyzeData.lose) / times ) %>%, var(--chartColor3) <%= getRate( (analyzeData.win + analyzeData.lose) / times ) %>%);
            }

            #strategy-pie-chart::before {
                background: conic-gradient(var(--chartColor1) <%= getRate(analyzeData.offensive / times) %>%, var(--chartColor2) <%= getRate(analyzeData.offensive / times) %>% <%= getRate( (analyzeData.offensive + analyzeData.defensive) / times ) %>%, var(--chartColor3) <%= getRate( (analyzeData.offensive + analyzeData.defensive) / times) %>%, var(--chartColor3) <%= getRate((analyzeData.offensive + analyzeData.defensive + analyzeData.mix) / times) %>%, var(--chartColorNone) <%= getRate((analyzeData.offensive + analyzeData.defensive + analyzeData.mix) / times) %>%);
            }

            .pie-chart::after {
                content: "";
                width: 100%;
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--mainColor);
                color: #191919;
                font-size: calc(var(--pageFontSize) * 1.2);
                position: absolute;
                bottom: 8%;
                left: 10%;
                border-radius: 50%;
            }

            #piecesA-pie-chart::after {
                content: "pieces a";
            }

            #piecesT-pie-chart::after {
                content: "pieces t";
            }

            #mobilityA-pie-chart::after {
                content: "mobility a";
            }

            #moveT-pie-chart::after {
                content: "move t";
            }

            #engageA-pie-chart::after {
                content: "dock a";
            }

            #engageT-pie-chart::after {
                content: "engage t";
            }

            #result-pie-chart::after {
                content: "result";
            }

            #strategy-pie-chart::after {
                content: "strategy";
            }

            .pie-chart-legend-outerDiv {
                width: 60%;
                height: 60%;
                position: absolute;
                bottom: 5%;
                right: 0%;
                display: flex;
                flex-wrap: wrap;
                align-items: end;
            }

            .pie-chart-legend-div {
                width: 100%;
                height: 25%;
                display: flex;
                align-items: center;
                justify-content: left;
            }

            .pie-chart-legend {
                width: 5%;
                aspect-ratio: 1 / 1;
            }

            .pie-chart-legend1 {
                background-color: var(--chartColor1);
            }

            .pie-chart-legend2 {
                background-color: var(--chartColor2);
            }

            .pie-chart-legend3 {
                background-color: var(--chartColor3);
            }

            .pie-chart-legendNone {
                background-color: var(--chartColorNone);
            }

            .pie-chart-legend-lebel {
                font-size: calc(var(--pageFontSize) * 1.05);
                margin-left: 5%;
            }

            .pie-chart-legend-lebel1 {
                color: var(--chartColor1);
            }

            .pie-chart-legend-lebel2 {
                color: var(--chartColor2);
            }

            .pie-chart-legend-lebel3 {
                color: var(--chartColor3);
            }

            .pie-chart-legend-lebelNone {
                color: var(--chartColorNone);
            }

            @keyframes pie-chart-show {
                0% {
                    clip-path: polygon(50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 50%);
                }
                25% {
                    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 50%, 50% 50%, 50% 50%);
                }
                50% {
                    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 100%, 50% 50%);
                }
                75% {
                    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%, 50% 50%);
                }
                100% {
                    clip-path: polygon(50% 0%, 0% 50%);
                }
            }

            #analyze-table-div {
                width: 90%;
                height: 10%;
                position: absolute;
                top: 60%;
                left: 5%;
                box-shadow: #b6b6b6 0 0 20px;
            }

            #analyze-table {
                width: 100%;
                height: 100%;
                border-collapse: collapse;
                font-size: var(--pageFontSize);
                overflow: hidden;
            }

            #analyze-thead {
                height: 40%;
                background-color: #000000;
                z-index: 100;
            }

            .analyze-th {
                width: 16.6%;
                height: 4vh;
                color: #c5c5c5;
                font-size: var(--pageFontSize);
                padding: 0;
            }

            .analyze-td {
                text-align: center;
            }

            @media only screen and (max-width: 1100px) {
                #pie-chart-area { height: 50%; }
                #analyze-table-div { top: 70% }
                .pie-chart::after { font-size: var(--pageFontSize); }
                .pie-chart-legend-lebel { font-size: var(--pageFontSize); }
            }
        </style>
    </head>
    <body>
        <div id="h1-div">
            <h1><%= analyzeData.teamNumber %></h1>
        </div>
        <div id="pie-chart-area">
            <div id="piecesA-pie-chart-div" class="pie-chart-div">
                <div id="piecesA-pie-chart" class="pie-chart"></div>
                <div class="pie-chart-legend-outerDiv">
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend1"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel1">top <% if(cargoTotalA === 0) { %> 0% <% } else { %> <%= getRate(analyzeData.topA / cargoTotalA) %>% <% } %></span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend2"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel2">mid <% if(cargoTotalA === 0) { %> 0% <% } else { %> <%= getRate(analyzeData.middleA / cargoTotalA) %>% <% } %></span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend3"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel3">btm <% if(cargoTotalA === 0) { %> 0% <% } else { %> <%= getRate(analyzeData.bottomA / cargoTotalA) %>% <% } %></span>
                    </div>
                </div>
            </div>
            
            <div id="piecesT-pie-chart-div" class="pie-chart-div">
                <div id="piecesT-pie-chart" class="pie-chart"></div>
                <div class="pie-chart-legend-outerDiv">
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend1"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel1">top <% if(cargoTotalT === 0) { %> 0% <% } else { %> <%= getRate(analyzeData.topT / cargoTotalT) %>% <% } %></span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend2"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel2">mid <% if(cargoTotalT === 0) { %> 0% <% } else { %> <%= getRate(analyzeData.middleT / cargoTotalT) %>% <% } %></span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend3"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel3">btm <% if(cargoTotalT === 0) { %> 0% <% } else { %> <%= getRate(analyzeData.bottomT / cargoTotalT) %>% <% } %></span>
                    </div>
                </div>
            </div>

            <div id="mobilityA-pie-chart-div" class="pie-chart-div">
                <div id="mobilityA-pie-chart" class="pie-chart"></div>
                <div class="pie-chart-legend-outerDiv">
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend2"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel2">mobility <%= getRate(analyzeData.mobilityA / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legendNone"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebelNone">none <%= getRate( (times - analyzeData.mobilityA) / times) %>%</span>
                    </div>
                </div>
            </div>

            <div id="moveT-pie-chart-div" class="pie-chart-div">
                <div id="moveT-pie-chart" class="pie-chart"></div>
                <div class="pie-chart-legend-outerDiv">
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend1"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel1">dock <%= getRate(analyzeData.dockT / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend2"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel2">park <%= getRate(analyzeData.parkT / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legendNone"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebelNone">none <%= getRate( (times - (analyzeData.dockT + analyzeData.parkT) ) / times) %>%</span>
                    </div>
                </div>
            </div>

            <div id="engageA-pie-chart-div" class="pie-chart-div">
                <div id="engageA-pie-chart" class="pie-chart"></div>
                <div class="pie-chart-legend-outerDiv">
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend1"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel1">dock <%= getRate( (analyzeData.dockA - analyzeData.engageA) / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend3"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel3">engage <%= getRate( analyzeData.engageA / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legendNone"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebelNone">none <%= getRate( (times - analyzeData.dockA) / times) %>%</span>
                    </div>
                </div>
            </div>

            <div id="engageT-pie-chart-div" class="pie-chart-div">
                <div id="engageT-pie-chart" class="pie-chart"></div>
                <div class="pie-chart-legend-outerDiv">
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend1"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel1">engage<% if(analyzeData.dockT === 0) { %> n / a<% } else { %> <%= getRate(analyzeData.engageT / analyzeData.dockT) %>% <% } %></span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legendNone"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebelNone">none<% if(analyzeData.dockT === 0) { %> n / a<% } else { %> <%= getRate( (analyzeData.dockT - analyzeData.engageT) / analyzeData.dockT ) %>% <% } %></span>
                    </div>
                </div>
            </div>

            <div id="result-pie-chart-div" class="pie-chart-div">
                <div id="result-pie-chart" class="pie-chart"></div>
                <div class="pie-chart-legend-outerDiv">
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend1"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel1">win <%= getRate(analyzeData.win / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend2"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel2">lose <%= getRate(analyzeData.lose / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend3"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel3">tie <%= getRate(analyzeData.tie / times) %>%</span>
                    </div>
                </div>
            </div>

            <div id="strategy-pie-chart-div" class="pie-chart-div">
                <div id="strategy-pie-chart" class="pie-chart"></div>
                <div class="pie-chart-legend-outerDiv">
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend1"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel1">offensive <%= getRate(analyzeData.offensive / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend2"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel2">defensive <%= getRate(analyzeData.defensive / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legend3"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebel3">mix <%= getRate(analyzeData.mix / times) %>%</span>
                    </div>
                    <div class="pie-chart-legend-div">
                        <div class="pie-chart-legend pie-chart-legendNone"></div>
                        <span class="pie-chart-legend-lebel pie-chart-legend-lebelNone">none <%= getRate((times - (analyzeData.offensive + analyzeData.defensive + analyzeData.mix)) / times) %>%</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="analyze-table-div">
            <table id="analyze-table">
                <thead id="analyze-thead">
                    <tr>
                        <th class="analyze-th">auto avg point</th>
                        <th class="analyze-th">tele avg point</th>
                        <th class="analyze-th">link</th>
                        <th class="analyze-th">penalty</th>
                        <th class="analyze-th">avg rp</th>
                        <th class="analyze-th">tol rp</th>
                    </tr>
                </thead>
                <tbody>
                    <% const getAverage = (num) => { %>
                        <% if (num == 0) { %>
                            <% return 0; %>
                        <% } %>
    
                        <% return Math.round( (num + Number.EPSILON) * 100 ) / 100; %>
                    <% }; %>
                    <tr>
                        <td class="analyze-td"><%= getAverage(analyzeData.pointA / times) %></td>
                        <td class="analyze-td"><%= getAverage(analyzeData.pointT / times) %></td>
                        <td class="analyze-td"><%= getAverage(analyzeData.link / times) %></td>
                        <td class="analyze-td"><%= getAverage(analyzeData.penalty / times) %></td>
                        <td class="analyze-td"><%= getAverage(analyzeData.rp / times) %></td>
                        <td class="analyze-td"><%= analyzeData.rp %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>